.page{
    height: 638px;
    background: linear-gradient(to top left, #003366 21%, #cc0099 100%);
}
.form{
    
    color: white;
    margin-left: 40%;
   
}
.input{
    background: #000066;
    opacity:0.4;
    color: white;
    border: transparent;
    width: 38% ;
    height: 32px;
    line-height:0px;
}

.button-submit{
    margin-top: 28px;
    margin-bottom: 7px;
   
}
.text-Name{
    margin-top: -26px;
    margin-bottom: 21px;
}
.text-address{
    margin-top: -26px;
    margin-bottom: 21px;
}
.text-email{
    margin-top: -26px;
    margin-bottom: 21px;
}
.text-password{
    margin-top: -26px;
    margin-bottom: 21px;
}
.text-comments{
    height: 85px;
    margin-top: -16px;
    margin-bottom: 21px;
}
.form p{
   line-height: 0px;
}
@media only screen and (min-device-width: 200px) and (max-device-width: 650px) and (max-device-height: 812px)
{
    .form{
        margin-left: 20%;
       
    } 
    .input{
        width: 70%;
    }
}